@{
    Layout = null;
}

@model MVC_Start.Models.GuestContact

<p>Hello guest</p>

<p>Name: @Model.Name</p>
<p>City: @Model.City</p>
<p>State: @Model.State</p>

<form asp-controller="Home" asp-action="Contact" method="post">
    <p>Name: <input asp-for="Name" /></p>
    <p>City: <input asp-for="City" /></p>
    <p>State: <input asp-for="State" /></p>

    <button type="submit">Submit</button>
</form>

<a href="/home/index">Home page in html</a>
<p>

</p>
<a asp-controller="Home"
   asp-action="Index"
   asp-route-id="12">
    Home page
</a>
